body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.main-wrapper {
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
  background-color: #ffffff;
}

.navigation-link {
  font-szie: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  line-height: 1.857;
}

.navigation-link:hover {
  font-size: 14px;
  font-family: inherit;
  color: #81b3d2;
  text-transform: uppercase;
  line-height: 1.857;
}

.navigation-link:active {
  font-size: 14px;
  font-family: inherit;
  color: #b2b2b2;
  text-decoration: uppercase;
  line-height: 1.857;
}

.navigation-link.navigation-link-catalog {
  font-size: 14px;
  font-family: inherit;
  color: #766357;
  text-decoration: none;
  line-height: 1.857;
}

.advanced-list {
  background-image: url("../img/blue-1.jpg");
  background-repeat: no-repeat;

  fot-size: 14px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}

.main-slogan {
  background-image: url("../img/main-poster.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.description-item.description-item-housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.description-item.description-item-food {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.description-item.description-item-souveniers {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.search-form-calendar {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
}

.appointment .button {
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.appointment .button:hover {
  background-color: #669ec0;
}

.appointment .button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

/*catalog*/

.select-pool {
  font-size: 14px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

.show {
  font-size: 14px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5;
  background-image: url("../img/show.png")
  background-repeat: no-repeat;
}

.show:hover {
  font-size: 14px;
  font-family: inherit;
  color: #000000;
  text-transform: uppercase;
  line-height: 1.5;
  background-image: url("../img/show-focus.png");
  background-repeat: no-repeat;
}

.found {
  font-size: 21px;
  font-family: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
}

.found-sort {
  font-size: 12px;
  font-family: inherit;
  color: #000000;
  line-height: 1.5;
}

.sort-list {
  list-style: none;
  text-decoration: none;
}

.sort-item {
  font-size: 12px;
  font-weight: regular;
  font-family: inherit;
  color: #bcbcbc;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2;
}

.sort-item:hover {
  font-size: 12px;
  font-family: inherit;
  color: #81b3d2;
  line-height: 1.5;
  text-decoration: none;
  border-bottom: 1px dashed #81b3d2 ;
}

.sort-item:focus {
  font-size: 12px;
  font-family: inherit;
  color: #81b3d2;
  line-height: 1.5px;
  text-decoration: none;
  border-bottom: 0;
}

.sort-item:active {
  font-size: 12px;
  font-family: inherit;
  color: #000000;
  line-height: 1.5px;
  text-decoration: none;
  border-bottom: 0;
}

/* Верно ли так делать?
.btn-up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  font-size: 0;
}
 */

 .hotel-item {
  font-size: 21px;
  font-family: inherit;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.238;
}

.hotel-name {
  font-size: 14px;
  font-family: inherit;
  color: #333333;
  text-transform: uppercase;
  line-height: 1.5;
}

.price {
  font-size: 14px;
  font-family: inherit;
  color: #333333;
  text-transfom: uppercase;
  line-height: 1.5;
}

.hotel-link {
  font-size: 14px;
  font-family: inherit;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 27px;
  text-decoration: none;

  background-color: #81b3d2;
  width: 110px;
  height: 27px;
}

.hotel-link:hover {
  color: #ffffff;
  background-color: #669ec0;
}

.hotel-link:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.btn-order {
  font-size: 14px;
  font-family: inherit;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 27px;
  text-decoration: none;

  background-color: #766357;
  width: 142px;
  height: 27px;
}

.btn-order:hover {
  color: #ffffff;
  background-color: #604e43;
}

.btn-order:active {
  color: #857871;
  backgorund-color: #503e33;
}
