body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.site-navigation {
  list-style: none;
  background-color: #ffffff;
}

.navigation-link {
  font-szie: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.advanced-list {
  background-image: url("../img/blue-1.jpg");
  background-repeat: no-repeat;

  fot-size: 14px;
  font-family: inherit;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
}
